.page-header strong {
    color: theme('colors.green');
    font-weight: normal;
}

.line {
position: absolute;
background-color: white;
opacity: 0.7;
}

.line.vertical {
width: 1px;
height: 100%;
top: 0;
}

.line.horizontal {
left: 50%;
transform: translateX(-50%);
width: 150vw;
height: 1px;
bottom: 0;
}
  